In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
# csv files
dir_2019 = "source/JC-201906-citibike-tripdata.csv"
dir_2020 = "source/JC-202006-citibike-tripdata.csv"

In [3]:
# read csv
df_2019 = pd.read_csv(dir_2019)
df_2020 = pd.read_csv(dir_2020)

In [4]:
df_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [5]:
df_2019["start station id"].nunique()

51

In [6]:
df_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [7]:
df_2020["start station id"].nunique()

51

In [8]:
length_19 = len(df_2019)
length_19

39430

In [9]:
length_20 = len(df_2020)
length_20

36921

In [10]:
difference = length_19 - length_20
difference

2509

In [11]:
meantd_2020 = df_2020['tripduration'].mean()
meantd_2020

2296.5872267815066

In [12]:
# convert seconds to days, hours, and minutes for meandtd_2020

seconds = meantd_2020

seconds_in_day = 60 * 60 * 24

seconds_in_hour = 60 * 60

seconds_in_minute = 60


days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes)

0.0 0.0 38.0

In [13]:
meantd_2019 = df_2019['tripduration'].mean()
meantd_2019

973.6899568856201

In [14]:
# convert seconds to days, hours, and minutes for meandtd_2019

seconds = meantd_2019

seconds_in_day = 60 * 60 * 24

seconds_in_hour = 60 * 60

seconds_in_minute = 60


days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes)

0.0 0.0 16.0

In [15]:
#tripduration is in seconds
maxtd_2020 = df_2020['tripduration'].max()
maxtd_2020

1554397

In [16]:
maxtd_2019 = df_2019['tripduration'].max()
maxtd_2019

1195576

In [17]:
# convert seconds to days, hours, and minutes for maxtd_2020

seconds = maxtd_2020

seconds_in_day = 60 * 60 * 24

seconds_in_hour = 60 * 60

seconds_in_minute = 60


days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes)

17 23 46

In [18]:
# convert seconds to days, hours, and minutes for maxtd_2019

seconds = maxtd_2019

seconds_in_day = 60 * 60 * 24

seconds_in_hour = 60 * 60

seconds_in_minute = 60


days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes)

13 20 6

In [19]:
df_2020["start station id"].nunique()

51

In [20]:
# plot distribution of trip durations in 2020

In [21]:
#Break 2 annual DFs out into subscriber and customer DFs
df_2019_subs = df_2019.loc[df_2019["usertype"]=="Subscriber"]
df_2019_cust = df_2019.loc[df_2019["usertype"]=="Customer"]
df_2020_subs = df_2020.loc[df_2020["usertype"]=="Subscriber"]
df_2020_cust = df_2020.loc[df_2020["usertype"]=="Customer"]

In [22]:
#Group 4 DFs into summary sets with aggregation columns
group_2019_subs_start = df_2019_subs.groupby(["start station id", "start station name", "start station latitude", "start station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2019_subs_start.columns = group_2019_subs_start.columns.droplevel(0)
group_2019_subs_start = group_2019_subs_start.reset_index()
group_2019_subs_end = df_2019_subs.groupby(["end station id", "end station name", "end station latitude", "end station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2019_subs_end.columns = group_2019_subs_end.columns.droplevel(0)
group_2019_subs_end = group_2019_subs_end.reset_index()
group_2019_cust_start = df_2019_cust.groupby(["start station id", "start station name", "start station latitude", "start station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2019_cust_start.columns = group_2019_cust_start.columns.droplevel(0)
group_2019_cust_start = group_2019_cust_start.reset_index()
group_2019_cust_end = df_2019_cust.groupby(["end station id", "end station name", "end station latitude", "end station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2019_cust_end.columns = group_2019_cust_end.columns.droplevel(0)
group_2019_cust_end = group_2019_cust_end.reset_index()
group_2020_subs_start = df_2020_subs.groupby(["start station id", "start station name", "start station latitude", "start station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2020_subs_start.columns = group_2020_subs_start.columns.droplevel(0)
group_2020_subs_start = group_2020_subs_start.reset_index()
group_2020_subs_end = df_2020_subs.groupby(["end station id", "end station name", "end station latitude", "end station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2020_subs_end.columns = group_2020_subs_end.columns.droplevel(0)
group_2020_subs_end = group_2020_subs_end.reset_index()
group_2020_cust_start = df_2020_cust.groupby(["start station id", "start station name", "start station latitude", "start station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2020_cust_start.columns = group_2020_cust_start.columns.droplevel(0)
group_2020_cust_start = group_2020_cust_start.reset_index()
group_2020_cust_end = df_2020_cust.groupby(["end station id", "end station name", "end station latitude", "end station longitude"]).agg({'tripduration': ['mean', 'sum', 'count']})
group_2020_cust_end.columns = group_2020_cust_end.columns.droplevel(0)
group_2020_cust_end = group_2020_cust_end.reset_index()

In [23]:
group_2020_cust_start.head()

,start station id,start station name,start station latitude,start station longitude,mean,sum,count
0,3184,Paulus Hook,40.714145,-74.033552,4119.645306,2764282,671
1,3185,City Hall,40.717733,-74.043845,3018.541555,1125916,373
2,3186,Grove St PATH,40.719586,-74.043117,3339.211078,2230593,668
3,3187,Warren St,40.721124,-74.038051,2553.918465,1064984,417
4,3191,Union St,40.718211,-74.083639,3600.986755,543749,151

In [24]:
#Set the columns for year and type for each DF
group_2019_subs_start["year"]=2019
group_2019_subs_start["type"]="subs"
group_2019_cust_start["year"]=2019
group_2019_cust_start["type"]="cust"
group_2020_subs_start["year"]=2020
group_2020_subs_start["type"]="subs"
group_2020_cust_start["year"]=2020
group_2020_cust_start["type"]="cust"
group_2019_subs_end["year"]=2019
group_2019_subs_end["type"]="subs"
group_2019_cust_end["year"]=2019
group_2019_cust_end["type"]="cust"
group_2020_subs_end["year"]=2020
group_2020_subs_end["type"]="subs"
group_2020_cust_end["year"]=2020
group_2020_cust_end["type"]="cust"

In [25]:
#combine into new annual DFs
start_df = group_2019_subs_start.append(group_2020_subs_start).append(group_2019_cust_start).append(group_2020_cust_start)
len(start_df)

203

In [26]:
#combine into new annual DFs
end_df = group_2019_subs_end.append(group_2020_subs_end).append(group_2019_cust_end).append(group_2020_cust_end)
len(end_df)

237

In [27]:
start_df.columns

Index(['start station id', 'start station name', 'start station latitude',
       'start station longitude', 'mean', 'sum', 'count', 'year', 'type'],
      dtype='object')

In [28]:
start_df.columns = start_df.columns.get_level_values(0)
end_df.columns = end_df.columns.get_level_values(0)

In [29]:
start_df.head()

,start station id,start station name,start station latitude,start station longitude,mean,sum,count,year,type
0,3184,Paulus Hook,40.714145,-74.033552,589.577163,660916,1121,2019,subs
1,3185,City Hall,40.717733,-74.043845,587.537870,535247,911,2019,subs
2,3186,Grove St PATH,40.719586,-74.043117,436.424445,1828182,4189,2019,subs
3,3187,Warren St,40.721124,-74.038051,436.910653,381423,873,2019,subs
4,3191,Union St,40.718211,-74.083639,1038.363636,79954,77,2019,subs

In [31]:
#Rename three aggregation columns to meaningful names
start_df = start_df.rename(columns = {"mean":"start duration mean","sum":"start duration sum","count":"start duration count", "year":"start year", "type":"start type"})
end_df = end_df.rename(columns = {"mean":"end duration mean","sum":"end duration sum","count":"end duration count", "year":"end year", "type":"end type"})

In [32]:
start_df.head()

,start station id,start station name,start station latitude,start station longitude,start duration mean,start duration sum,start duration count,start year,start type
0,3184,Paulus Hook,40.714145,-74.033552,589.577163,660916,1121,2019,subs
1,3185,City Hall,40.717733,-74.043845,587.537870,535247,911,2019,subs
2,3186,Grove St PATH,40.719586,-74.043117,436.424445,1828182,4189,2019,subs
3,3187,Warren St,40.721124,-74.038051,436.910653,381423,873,2019,subs
4,3191,Union St,40.718211,-74.083639,1038.363636,79954,77,2019,subs

In [33]:
end_df.head()

,end station id,end station name,end station latitude,end station longitude,end duration mean,end duration sum,end duration count,end year,end type
0,195,Liberty St & Broadway,40.709056,-74.010434,2111.333333,6334,3,2019,subs
1,315,South St & Gouverneur Ln,40.703554,-74.006702,3539.000000,3539,1,2019,subs
2,327,Vesey Pl & River Terrace,40.715338,-74.016584,3925.500000,15702,4,2019,subs
3,337,Old Slip & Front St,40.703799,-74.008387,852.500000,3410,4,2019,subs
4,383,Greenwich Ave & Charles St,40.735238,-74.000271,17089.000000,34178,2,2019,subs

In [34]:
#Write two new annual DFs to .csv
start_df.to_csv("source/start.csv",index=False)
end_df.to_csv("source/end.csv",index=False)