In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
# csv files
dir_2019 = "source/JC-201906-citibike-tripdata.csv"
dir_2020 = "source/JC-202006-citibike-tripdata.csv"

In [3]:
# read csv
df_2019 = pd.read_csv(dir_2019)
df_2020 = pd.read_csv(dir_2020)

In [4]:
df_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [5]:
df_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [6]:
length_19 = len(df_2019)
length_19

39430

In [7]:
length_20 = len(df_2020)
length_20

36921

In [8]:
difference = length_19 - length_20
difference

2509

In [9]:
df_2020['tripduration'].mean()

2296.5872267815066

In [10]:
df_2019['tripduration'].mean()

973.6899568856201

In [12]:
#tripduration is in seconds
maxtd_2020 = df_2020['tripduration'].max()
maxtd_2020

1554397

In [13]:
maxtd_2019 = df_2019['tripduration'].max()
maxtd_2019

1195576

In [20]:
# convert seconds to days, hours, and minutes for maxtd_2020

seconds = maxtd_2020

seconds_in_day = 60 * 60 * 24

seconds_in_hour = 60 * 60

seconds_in_minute = 60


days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes)

17 23 46

In [21]:
# convert seconds to days, hours, and minutes for maxtd_2019

seconds = maxtd_2019

seconds_in_day = 60 * 60 * 24

seconds_in_hour = 60 * 60

seconds_in_minute = 60


days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes)

13 20 6

In [ ]:
# plot distribution of trip durations in 2020

In [ ]:
#Break 2 annual DFs out into subscriber and customer DFs
df_2019_subs = df_2019.loc[df_2019["usertype"]=="Subscriber"]
df_2019_cust = df_2019.loc[df_2019["usertype"]=="Customer"]
df_2020_subs = df_2020.loc[df_2020["usertype"]=="Subscriber"]
df_2020_cust = df_2020.loc[df_2020["usertype"]=="Customer"]